<div class="modal">
  <div class="left">
    <div 
      *ngFor="let t of tabs" 
      class="title-scenario" 
      (click)="activeTab(t)" 
      [class.active]="isActiveTab(t)">{{getTabTitle(t, lang)}}</div>
  </div>

  <div class="right">
    <div class="languages">
      <img src="/assets/en-us.png" (click)="lang=null" />
      <img src="/assets/pt-br.png" (click)="lang='pt-br'" />
    </div>
    
    <div>
      <h1>{{getCurrentTabTitle(lang)}}</h1>
      <html-include [htmlUrl]="getCurrentTabUrlDescription(lang)"></html-include>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="closeModal()">Close</button>
  <button (click)="changeScenario()">Change</button>
</div>