<div>
  <label>Mensagem:</label> <input [(ngModel)]="message" />
  <button (click)="send()">Enviar</button>
</div>

<div *ngFor="let m of messages">
  <label>{{m.message}}</label>
</div>

<!-- <table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->
