body {
    background-color: #001f3f !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
}

input {
    border: none;
}

textarea:disabled {
    opacity: 0.7;
    background-color: #fff;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:disabled {
    opacity: 0.5;
}

/*
    Title
*/
.title {
    margin-left: 5px;
}

/*
    Subscribers
*/
.subscribers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/*
    General
*/
.clear {
    clear: both;
}