<div class="header">
    <h3>{{appName}}</h3>
</div>

<div class="error" *ngIf="lastError">
    {{lastError.message ? lastError.message : lastError }}
</div>

<div class="content">
    <div class="config">
        <div class="settings">
            <textarea [(ngModel)]="consumerDefaultJson" [disabled]="this.loading || hasSubcribe"></textarea>
        </div>

        <div class="options">
            <label>
                <input [(ngModel)]="simulateError" type="checkbox" (change)="setSimulateError()" >
                <span>Simulate error in next message</span>
            </label>
        </div>

        <div class="actions">
            <button (click)="subscribe()" *ngIf="!hasSubcribe" [disabled]="this.loading">Subscribe</button>
            <button (click)="unSubscribe()" *ngIf="hasSubcribe" [disabled]="this.loading">UnSubscribe</button>
            <button (click)="clear()">Clear</button>
        </div>

    </div>

    <div class="messages">
        <div #scrollBottom class="scroll">
            <ol class="list">
                <li class="user-message" *ngFor="let message of messages" [ngClass]="{'msg-error': message.hasError}">
                    <span>{{ message.message }} ({{ message.id }})</span>
                    <!-- <ul>
                    <li>SendDate: {{ message.sendDate }}</li>
                    <li>ReceiveDate: {{ message.receiveDate }}</li>
                  </ul> -->
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="footer">
    <span class="label">Topic:</span> 
    <span class="value">{{consumerDefault?.topic}}</span>
    
    <span class="label">GroupId:</span> 
    <span class="value">{{consumerDefault?.groupId}}</span>

    <span class="label" *ngIf="appInfo">TaskId:</span>
    <span class="value" *ngIf="appInfo">{{appInfo.taskId}}</span>
</div>