<div class="log-viewer" *ngIf="viewLogs">
    <app-log-viewer (close)="closeLogs()"></app-log-viewer>
</div>

<div class="log-viewer" *ngIf="viewScenarios">
    <app-modal-scenarios (close)="closeScenarios()" (change)="changeScenario($event)"></app-modal-scenarios>
</div>

<div class="actions">
    <div class="logo">
        <img src="/assets/logo.png" />
    </div>
    <div class="buttons">
        <button (click)="openScenarios()" class="btn-change">Change Scenario</button>
        <button (click)="subscribeAll()">Subscribe All</button>
        <button (click)="unSubscribeAll()">UnSubscribe All</button>
        <button (click)="clearAll()">Clear all</button>
        <button (click)="showLogs()">Logs</button>
    </div>
</div>

<div class="producer">
    <div class="config">
        <textarea [(ngModel)]="publisherSettigns"></textarea>
    </div>

    <div class="data">
        <textarea [(ngModel)]="message"></textarea>
    </div>

    <div class="action">
        <button (click)="sendMessage()">Send</button>
    </div>
</div>

<div class="title">
    <h3>{{title}}</h3>
</div>

<div class="scenarios">
    <ng-template #scenarios></ng-template>
</div>