<div class="log-viewer" *ngIf="viewLogs">
    <app-log-viewer (close)="closeLogs()"></app-log-viewer>
</div>

<div class="actions">
    <div class="logo">
        <img src="/assets/logo.png" />
    </div>
    <div class="buttons">
        <button (click)="subscribeAll()">Subscribe All</button>
        <button (click)="unSubscribeAll()">UnSubscribe All</button>
        <button (click)="clearAll()">Clear all</button>
        <button (click)="showLogs()">Logs</button>
    </div>
</div>

<div class="producer">
    <div class="config">
        <textarea [(ngModel)]="publisherSettigns"></textarea>
    </div>

    <div class="data">
        <textarea [(ngModel)]="message"></textarea>
    </div>

    <div class="action">
        <button (click)="send()">Send</button>
    </div>
</div>

<!--
    Modelo: X
    Link: https://medium.com/naukri-engineering/retry-mechanism-and-delay-queues-in-apache-kafka-528a6524f722
          https://blog.pragmatists.com/retrying-consumer-architecture-in-the-apache-kafka-939ac4cb851a
    Prós:
    Contras:
-->

<div *ngIf="!uberModel">
    <div class="title">
        <h3>Model: Always goes back to the main topic and in case of error sends to the next error topic until arriving at DQL</h3>
    </div>
    <div class="subscribers">
        <app-chat-room roomId="room1" groupId="g1" topic="Chat" retryStrategy="retry" retryTopic="Chat.retry.1;Chat.retry.2;Chat.retry.3;Chat.dlq"></app-chat-room>
        <app-chat-room roomId="room2" groupId="g2" topic="Chat" retryStrategy="retry" retryTopic="Chat.retry.1;Chat.retry.2;Chat.retry.3;Chat.dlq"></app-chat-room>

        <app-chat-room roomId="room3" groupId="g1" topic="Chat.retry.1" retryStrategy="redirect" retryTopic="Chat" delay="2000">
        </app-chat-room>
        <app-chat-room roomId="room4" groupId="g2" topic="Chat.retry.1" retryStrategy="redirect" retryTopic="Chat" delay="2000">
        </app-chat-room>

        <app-chat-room roomId="room5" groupId="g1" topic="Chat.retry.2" retryStrategy="redirect" retryTopic="Chat" delay="4000">
        </app-chat-room>
        <app-chat-room roomId="room6" groupId="g2" topic="Chat.retry.2" retryStrategy="redirect" retryTopic="Chat" delay="4000">
        </app-chat-room>

        <app-chat-room roomId="room7" groupId="g1" topic="Chat.retry.3" retryStrategy="redirect" retryTopic="Chat" delay="6000">
        </app-chat-room>
        <app-chat-room roomId="room8" groupId="g2" topic="Chat.retry.3" retryStrategy="redirect" retryTopic="Chat" delay="6000">
        </app-chat-room>

        <app-chat-room roomId="room9" groupId="g1" topic="Chat.dlq"></app-chat-room>
        <app-chat-room roomId="room10" groupId="g2" topic="Chat.dlq"></app-chat-room>
    </div>
</div>

<!--
    Modelo: UBER
    Link: https://eng.uber.com/reliable-reprocessing/
          https://imasters.com.br/desenvolvimento/construindo-reprocessamento-confiavel-e-dead-letter-queues-com-kafka
    Prós:
    Contras:
-->

<div *ngIf="uberModel">
    <div class="title">
        <h3>Model: Always go to next retry topic until DLQ</h3>
    </div>

    <div class="subscribers">
        <app-chat-room roomId="room1" groupId="g1" topic="Chat" retryStrategy="retry" retryTopic="Chat.retry.1"></app-chat-room>
        <app-chat-room roomId="room2" groupId="g2" topic="Chat" retryStrategy="retry" retryTopic="Chat.retry.1"></app-chat-room>

        <app-chat-room roomId="room3" groupId="g1" topic="Chat.retry.1" retryStrategy="retry" retryTopic="Chat.retry.2" delay="1000">
        </app-chat-room>
        <app-chat-room roomId="room4" groupId="g2" topic="Chat.retry.1" retryStrategy="retry" retryTopic="Chat.retry.2" delay="1000">
        </app-chat-room>

        <app-chat-room roomId="room5" groupId="g1" topic="Chat.retry.2" retryStrategy="retry" retryTopic="Chat.retry.3" delay="4000">
        </app-chat-room>
        <app-chat-room roomId="room6" groupId="g2" topic="Chat.retry.2" retryStrategy="retry" retryTopic="Chat.retry.3" delay="4000">
        </app-chat-room>

        <app-chat-room roomId="room7" groupId="g1" topic="Chat.retry.3" retryStrategy="retry" retryTopic="Chat.dlq" delay="6000">
        </app-chat-room>
        <app-chat-room roomId="room8" groupId="g2" topic="Chat.retry.3" retryStrategy="retry" retryTopic="Chat.dlq" delay="6000">
        </app-chat-room>

        <app-chat-room roomId="room9" groupId="g1" topic="Chat.dlq"></app-chat-room>
        <app-chat-room roomId="room10" groupId="g2" topic="Chat.dlq"></app-chat-room>
    </div>
</div>